<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Khula:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link rel="stylesheet" href="css/style.css">
    <title>Artist Theme - Project - 12 Aprile</title>
</head>
<body>
    <div id="root">
        <header>
            <div id="countdown">
                <p>Starts TOMORROW! Our biggest event of the year...</p>
                <div id="timer">
                    <i :class="timer.icon.family + ' ' + timer.icon.prefix + timer.icon.name + timer.icon.suffix"></i>
                    <ul>
                        <li>{{timer.d}}<span>:</span></li>
                        <li>{{timer.h}}<span>:</span></li>
                        <li>{{timer.m}}<span>:</span></li>
                        <li>{{timer.s}}</li>
                    </ul>
                </div>
                <div class="btn btn-sm btn-prim">{{countdownBtn}}</div>
            </div>
            <div id="main_header">
                <div class="header_wrapper">
                    <div id="logo">
                        <img v-for="logo in logos" :src="logo.path + logo.name + logo.ext" :alt="logo.title">
                    </div>
                    <ul id="nav">
                        <li v-for="link in headLinks"><a :href="link.url">{{link.title}}<span><i class="fas fa-chevron-down"></i></span></a></li>
                    </ul>
                    <ul class="social_icons">
                        <li v-for="social in socialIcons"><a :href="social.url"><i :class="social.family + ' ' + social.prefix + social.name + social.suffix"></i></a></li>
                    </ul>
                </div>
            </div>
        </header>
        <main>
            <div id="jumbo" class="first main_sect"></div>
            <div id="coaching" class="second main_sect"></div>
            <div id="quote" class="third main_sect"></div>
            <div id="video" class="first main_sect"></div>
            <div id="testimonials" class="second main_sect"></div>
            <div id="courses" class="third big_sect"></div>
            <div id="blog" class="first big_sect"></div>
            <div id="events" class="second big_sect"></div>
            <div id="newsletter" class="third"></div>
        </main>
        <footer>
            <div class="footer_wrapper">
                <div id="ft_links">
                    <div id="ft_address">
                        <ul v-for="add in address">
                            <li class="ft_links_header"><a :href="add.url">{{add.header}}</a></li>
                            <li class="ft_link"><span>{{add.street}}</span> # <span>{{add.streetNum}}</span> <span>{{add.city}}</span>, <span>{{add.state}}</span> <span>{{add.zip1}}</span>-<span>{{add.zip2}}</span></li>
                            <li class="ft_link"><span>+ {{add.intPref}}</span> <span>{{add.phoneNum}}</span> (<span>{{add.opTime}}</span> - <span>{{add.clTime}}</span> <span>{{add.timeZone}}</span>, <span>{{add.opDay}}</span> - <span>{{add.clDay}}</span>)</li>
                            <li class="ft_link">{{add.email}}</li>
                            <ul class="social_icons">
                                <li v-for="social in socialIcons"><a :href="social.url"><i :class="social.family + ' ' + social.prefix + social.name + social.suffix"></i></a></li>
                            </ul>
                        </ul>
                    </div>
                    <div id="ft_explore">
                        <ul v-for="(exp, i) in explore">
                            <li class="ft_links_header"><a :href="exp.url">{{exp.header}}</a></li>
                            <li v-for="link in explore[i].chLinks" class="ft_link"><a :href="link.url">{{link.header}}</a></li>
                        </ul>
                    </div>
                    <div id="ft_info">
                        <ul v-for="(info, i) in information">
                            <li class="ft_links_header"><a :href="info.url">{{info.header}}</a></li>
                            <li v-for="link in information[i].chLinks" class="ft_link"><a :href="link.url">{{link.header}}</a></li>
                        </ul>
                    </div>
                    <div id="ft_insta"></div>
                </div>
            </div>
            <div id="ft_signature" class="second"></div>
        </footer>
    </div>
    <script src="js/main.js"></script>
</body>
</html>