<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Khula:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Yellowtail&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,wght@0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">     
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" href="img/favicon-32x32.png" type="image/x-icon">  
    <title>Artist Theme - Project - 12 Aprile</title>
</head>
<body>
    <div id="root">
        <header>
            <div id="countdown">
                <p>Starts TOMORROW! Our biggest event of the year...</p>
                <div id="timer">
                    <i :class="timer.icon.family + ' ' + timer.icon.prefix + timer.icon.name + timer.icon.suffix"></i>
                    <ul>
                        <li>{{timer.d}}<span>:</span></li>
                        <li>{{timer.h}}<span>:</span></li>
                        <li>{{timer.m}}<span>:</span></li>
                        <li>{{timer.s}}</li>
                    </ul>
                </div>
                <div class="btn btn-sm btn-prim">{{countdownBtn}}</div>
            </div>
            <div id="main_header">
                <div class="header_wrapper">
                    <div id="logo">
                        <img :src="logo.path + logo.name + logo.ext" :alt="logo.brand + ' logo'">
                    </div>
                    <ul id="nav">
                        <li v-for="link in headLinks"><a :href="link.url">{{link.title}}<span><i class="fas fa-chevron-down"></i></span></a></li>
                    </ul>
                    <ul class="social_icons">
                        <li v-for="social in socialIcons"><a :href="social.url"><i :class="social.family + ' ' + social.prefix + social.name + social.suffix"></i></a></li>
                    </ul>
                </div>
            </div>
        </header>
        <main>
            <section id="jumbo">
                <img class="art_shape_1" src="img/artist-shape-01.png" alt="artist-shape-01">
                <img class="art_shape_2" src="img/artist-shape-02.png" alt="artist-shape-02">
                <img class="blue_stain_md" src="img/blue-stain-md.png" alt="blue-stain-md">
                <img class="art_shape_3" src="img/artist-shape-03.png" alt="artist-shape-03">
                <img class="art_shape_4" src="img/artist-shape-04.png" alt="artist-shape-04">
                <img class="art_shape_5" src="img/artist-shape-05.png" alt="artist-shape-05">
                <img class="pallini" src="img/maxcoach-shape-12.png" alt="pallini">
                <img class="art_hero_3" src="img/artist-hero-image-03.png" alt="artist-hero-03">
                <img class="art_hero_2 shadpic" src="img/artist-hero-image-02.jpg" alt="artist-hero-02">
                <img class="art_hero_1 shadpic" src="img/artist-hero-image-01.jpg" alt="artist-hero-01">
                <img class="art_hero_4 shadpic" src="img/artist-hero-image-04.jpg" alt="artist-hero-04">
                <div class="jumbo_header_cont">
                    <p class="sub_header">Hello, Im Matin</p>
                    <h1>Artist Coaching And Mentoring Might Be for You</h1>
                    <a href="#" class="btn btn-bg btn-prim">Get Started Today</a>
                </div>
            </section>
            <section id="coaching">
                <div id="coaching_main_cont">
                    <div id="coaching_bg">
                        <img class="art_shape_6" src="img/artist-shape-01-600x577.png" alt="artist-shape-01">
                        <img class="righe" src="img/maxcoach-shape-13.png" alt="righe">
                        <img class="curly_line" src="img/maxcoach-shape-14.png" alt="righe">
                    </div>
                    <div class="coach_content_cont">
                        <div class="coach_head_cont">
                            <p class="sub_header">Artist coaching</p>
                            <h2>I understand what it takes to create. I can help you with</h2>
                        </div>
                        <div class="coach_boxes_cont">
                            <div class="coach_box">
                                <img src="img/artist-box-image-01.png" alt="foglie">
                                <h3>Online Courses</h3>
                                <p>Online art coaching now offers you a very powerful way to redesign your artist mind.</p>
                            </div>
                            <div class="coach_box">
                                <img src="img/artist-box-image-02.png" alt="arcobaleno">
                                <h3>One to One</h3>
                                <p>Online art coaching now offers you a very powerful way to redesign your artist mind.</p>
                            </div>
                            <div class="coach_box">
                                <img src="img/artist-box-image-03.png" alt="gocce">
                                <h3>Anywhere</h3>
                                <p>Online art coaching now offers you a very powerful way to redesign your artist mind.</p>
                            </div>
                            <div class="coach_box">
                                <img src="img/artist-box-image-04.png" alt="occhio">
                                <h3>On Time</h3>
                                <p>Online art coaching now offers you a very powerful way to redesign your artist mind.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="quote">
                <div class="quote_content_cont">
                    <div id="quote_box">
                        <img src="img/artist-quote-icon.png" alt="quotes">
                        <h2>I coach and mentor visual artists, like you, to Create Like You Mean It</h2>
                        <p class="sub_header">Martin Garrix</p>
                    </div>
                    <div id="quote_descr_box">
                        <p>As a coach and mentor, my ultimate goal is to motivate visual artists toward inspired action. I help you get you back on track to being the productive, creative, meaningful and authentic artist you truly want to be. I support artists in crafting and living a creative life as well as feeling good about themselves and their art.</p>
                        <p>As an artist and an educator for nearly 30 years, I understand what it takes to create.</p>
                        <div class="btn btn-snd btn-bg">Get Started Today</div>
                    </div>
                </div>
            </section>
            <section id="video">
                <div id="video_main_cont">
                    <img class="waves" src="img/artist-waves.png" alt="waves">
                    <div id="thumb_container">
                        <div id="video_graph">
                            <img class="blue_stain_sm" src="img/blue-stain-sm.png" alt="blue-stain-sm">
                            <img class="pallini_2" src="img/maxcoach-shape-05.png" alt="pallini_2">
                            <img class="pallini_3" src="img/maxcoach-shape-12.png" alt="pallini_3">
                            <div class="video_img_cont">
                                <img id="main_video_thumb" src="img/artist-video-poster.jpg" alt="main-video-thumb">
                            </div>
                            <img class="pink-ring" src="img/dark-pink-ring.png" alt="pink-ring">
                            <img class="yt-icon" src="img/icon-youtube-play.png" alt="youtube-icon">

                        </div>
                    </div>
                </div>
            </section>
            <section id="testimonials">
                <div id="test_header_cont">
                    <p class="sub_header">Testimonials</p>
                    <h2>Why do people love me?</h2>
                </div>
                <div id="test_boxes_cont">
                    <div class="testimonial_box">
                        <h4>It's a choice of quality for people with special needs</h4>
                        <p>I'm a very strict person so I require everything to be organized and neat. Then, I'll be able to make things right and shine. MaxCoach guys just got me.</p>
                        <div class="test_profile_box">
                            <div class="test_pic">
                                <img src="img/artist-testimonial-avatar-02.jpg" alt="avatar-02">
                            </div>
                            <div class="test_info">
                                <h5>Florence Themes</h5>
                                <p class="test_job_profile">/ Multimedia Admin</p>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial_box active">
                        <h4>High level of efficiency and scientific teaching methods</h4>
                        <p>I am free to learn at my own pace, follow my own schedule and choose the subject I want to learn from the syllabus. Great study portal for people like me.</p>
                        <div class="test_profile_box">
                            <div class="test_pic">
                                <img src="img/artist-testimonial-avatar-04.jpg" alt="avatar-04">
                            </div>
                            <div class="test_info">
                                <h5>Mina Hollace</h5>
                                <p class="test_job_profile">/ Freelancer</p>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial_box">
                        <h4>Professional team of specialists and passionate mentors at reach</h4>
                        <p>I need to get a certification for English proficiency and MaxCoach is my best choice. Their tutors are smart and professional when dealing with students.</p>
                        <div class="test_profile_box">
                            <div class="test_pic">
                                <img src="img/artist-testimonial-avatar-01.jpg" alt="avatar-01">
                            </div>
                            <div class="test_info">
                                <h5>Madley Pondor</h5>
                                <p class="test_job_profile">/ IT Specialist</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="dots_container">
                    <div class="test_dot active"></div>
                    <div class="test_dot"></div>
                    <div class="test_dot"></div>
                    <div class="test_dot"></div>
                </div>
            </section>
            <section id="courses">
                <div id="courses_bg">
                    <img class="courses_shape_01" src="img/artist-shape-01-600x577.png" alt="artist-shape-01">
                    <img class="courses_shape_02" src="img/artist-blue-shape-01.png" alt="artist-shape-02">
                    <h2>Courses</h2>
                </div>
                <div id="courses_content_cont">
                    <div id="courses_header_cont" class="section_header_container">
                        <p class="sub_header">Artist coaching</p>
                        <h2>Latest courses online</h2>
                    </div>
                    <div id="courses_boxes_cont">
                        <div class="course_box">
                            <div class="course_pic">
                                <img src="img/artist-course-08-480x480.jpg" alt="">
                            </div>
                            <div class="course_info">
                                <div class="course_price">$18.00</div>
                                <div class="course_name">The Acrylic Painting Academy</div>
                                <div class="less_stud">
                                    <div class="course_lessons">
                                        <i class="far fa-file-alt"></i>
                                        <p>4 Lessons</p>
                                    </div>
                                    <div class="course_students">
                                        <i class="far fa-user"></i>
                                        <p>50 students</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="course_box">
                            <div class="course_pic">
                                <img src="img/artist-course-07-480x480.jpg" alt="">
                            </div>
                            <div class="course_info">
                                <div class="course_price">$21.00</div>
                                <div class="course_name">Drawing and Shading: Complete Course</div>
                                <div class="less_stud">
                                    <div class="course_lessons">
                                        <i class="far fa-file-alt"></i>
                                        <p>14 Lessons</p>
                                    </div>
                                    <div class="course_students">
                                        <i class="far fa-user"></i>
                                        <p>50 students</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="course_box">
                            <div class="course_pic">
                                <img src="img/artist-course-06-480x480.jpg" alt="">
                            </div>
                            <div class="course_info">
                                <div class="course_price">$19.00</div>
                                <div class="course_name">The Color Theory for Digital Artist</div>
                                <div class="less_stud">
                                    <div class="course_lessons">
                                        <i class="far fa-file-alt"></i>
                                        <p>7 Lessons</p>
                                    </div>
                                    <div class="course_students">
                                        <i class="far fa-user"></i>
                                        <p>50 students</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="course_box">
                            <div class="course_pic">
                                <img src="img/artist-course-05-480x480.jpg" alt="">
                            </div>
                            <div class="course_info">
                                <div class="course_price">$35.00</div>
                                <div class="course_name">Ultimate Guide to Digital Sketching for Beginner</div>
                                <div class="less_stud">
                                    <div class="course_lessons">
                                        <i class="far fa-file-alt"></i>
                                        <p>14 Lessons</p>
                                    </div>
                                    <div class="course_students">
                                        <i class="far fa-user"></i>
                                        <p>50 students</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="course_box">
                            <div class="course_pic">
                                <img src="img/artist-course-04-480x480.jpg" alt="">
                            </div>
                            <div class="course_info">
                                <div class="course_price">$19.00</div>
                                <div class="course_name">Portrait Drawing The Smart Way</div>
                                <div class="less_stud">
                                    <div class="course_lessons">
                                        <i class="far fa-file-alt"></i>
                                        <p>2 Lessons</p>
                                    </div>
                                    <div class="course_students">
                                        <i class="far fa-user"></i>
                                        <p>50 students</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="course_box">
                            <div class="course_pic">
                                <img src="img/artist-course-03-480x480.jpg" alt="">
                            </div>
                            <div class="course_info">
                                <div class="course_price">$19.00</div>
                                <div class="course_name">Mastering Watercolor Painting for Beginner</div>
                                <div class="less_stud">
                                    <div class="course_lessons">
                                        <i class="far fa-file-alt"></i>
                                        <p>4 Lessons</p>
                                    </div>
                                    <div class="course_students">
                                        <i class="far fa-user"></i>
                                        <p>50 students</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="course_box">
                            <div class="course_pic">
                                <img src="img/artist-course-02-480x480.jpg" alt="">
                            </div>
                            <div class="course_info">
                                <div class="course_price">$25.00</div>
                                <div class="course_name">The Art & Science of Drawing</div>
                                <div class="less_stud">
                                    <div class="course_lessons">
                                        <i class="far fa-file-alt"></i>
                                        <p>4 Lessons</p>
                                    </div>
                                    <div class="course_students">
                                        <i class="far fa-user"></i>
                                        <p>50 students</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="course_box">
                            <div class="course_pic">
                                <img src="img/artist-course-01-480x480.jpg" alt="">
                            </div>
                            <div class="course_info">
                                <div class="course_price">$22.00</div>
                                <div class="course_name">The Colored Pencil Drawing Course</div>
                                <div class="less_stud">
                                    <div class="course_lessons">
                                        <i class="far fa-file-alt"></i>
                                        <p>6 Lessons</p>
                                    </div>
                                    <div class="course_students">
                                        <i class="far fa-user"></i>
                                        <p>50 students</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="courses_btn btn btn-snd btn-bg">View All Courses<span><i class="fas fa-arrow-right"></i></span></div>
                </div>
            </section>
            <section id="blog">
                <div id="blog_bg">
                    <img class="blog_ring" src="img/dark-pink-ring.png" alt="">
                    <img class="blog_curly" src="img/maxcoach-shape-03.png" alt="">
                </div>
                <div id="blog_content_cont">
                    <div id="blog_header_cont" class="section_header_container">
                        <p class="sub_header">Articles and Tips</p>
                        <h2>Latest From The Blog</h2>
                    </div>
                    <div id="blog_boxes_cont">
                        <div class="blog_box_left">
                            <div class="blog_box_pic">
                                <img src="img/artist-blog-03-480x356.jpeg" alt="">
                            </div>
                            <div class="blog_box_info">
                                <p class="blog_box_category">artist</p>
                                <h3>Brush Strokes Energize Trees in Paintings</h3>
                                <div class="date_views">
                                    <div class="blog_box_date">
                                        <i class="far fa-calendar"></i>
                                        <p>May 15, 2020</p>
                                    </div>
                                    <div class="blog_box_views">
                                        <i class="far fa-eye"></i>
                                        <p>688 views</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="blog_box_center">
                            <img class="blog_blue_stain" src="img/blue-stain-sm.png" alt="">
                            <img class="blog_pallini" src="img/maxcoach-shape-05.png" alt="">
                            <div class="blog_box_active">
                                <div class="blog_box_active_pic">
                                    <img src="img/artist-blog-02-500x680.jpg" alt="">
                                </div>
                                <div class="blog_box_active_overlay">
                                    <div class="blog_box_active_text">
                                        <p class="blog_box_category">Artist</p>
                                        <h3>Connection Betweeen Self-Portraits and Identity</h3>
                                        <div class="date_views">
                                            <div class="blog_box_date">
                                                <i class="far fa-calendar"></i>
                                                <p>May 15, 2020</p>
                                            </div>
                                            <div class="blog_box_views">
                                                <i class="far fa-eye"></i>
                                                <p>397 views</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="blog_box_right">
                            <div class="blog_box_pic">
                                <img src="img/artist-blog-01-480x356.jpg" alt="">
                            </div>
                            <div class="blog_box_info">
                                <p class="blog_box_category">artist</p>
                                <h3>Pocket-Sized Notebooks Hold Miniature Paintings</h3>
                                <div class="date_views">
                                    <div class="blog_box_date">
                                        <i class="far fa-calendar"></i>
                                        <p>May 15, 2020</p>
                                    </div>
                                    <div class="blog_box_views">
                                        <i class="far fa-eye"></i>
                                        <p>603 views</p>
                                    </div>
                                </div>
                            </div>                            
                        </div>
                    </div>
                    <p class="more_posts">Get into details now?<span>View all posts <i class="fas fa-arrow-right"></i></span></p>
                </div>
            </section>
            <section id="events">
                <div id="events_bg">
                    <img class="events_shape_01" src="img/artist-shape-01-600x577.png" alt="artist-shape-01">
                    <img class="events_stain_01" src="img/pink-stain-md.png" alt="pink-stain">
                    <img class="events_righe" src="img/maxcoach-shape-13.png" alt="righe">
                    <h2>Events</h2>                    
                </div>
                <div id="events_content_cont">
                    <div id="events_header_cont" class="section_header_container">
                        <p class="sub_header">Upcoming Events</p>
                        <h2>Let's Work Together</h2>
                    </div>
                    <div id="events_boxes_cont">
                        <div class="events_boxes_first_row">
                            <div class="event_box_top">
                                <img src="img/artist-event-04-250x300.jpg" alt="">
                                <div class="event_box_info">
                                    <div class="event_date">Nov 22, 2020</div>
                                    <div class="event_name">Storytelling Workshop</div>
                                    <div class="event_location">
                                        <i class="fas fa-map-marker-alt"></i>
                                        <p>Texas, US</p>
                                    </div>
                                </div>   
                            </div>
                            <div class="event_box_top">
                                <img src="img/artist-event-03-250x300.jpg" alt="">
                                <div class="event_box_info">
                                    <div class="event_date">Oct 10, 2020</div>
                                    <div class="event_name">Painting Art Contest</div>
                                    <div class="event_location">
                                        <i class="fas fa-map-marker-alt"></i>
                                        <p>New York, US</p>
                                    </div>
                                </div>                                
                            </div>
                        </div> 
                        <div class="events_boxes_second_row">
                            <div class="event_box_bottom">
                                <div class="event_box_info">
                                    <div class="event_date">Nov 23, 2020</div>
                                    <div class="event_name">International Art Fair 2020</div>
                                    <div class="event_location">
                                        <i class="fas fa-map-marker-alt"></i>
                                        <p>Hamburg, Germany</p>
                                    </div>
                                </div>                                  
                                <img src="img/artist-event-02-250x300.jpg" alt="">
                            </div>
                            <div class="event_box_bottom">
                                <div class="event_box_info">
                                    <div class="event_date">Dic 15, 2020</div>
                                    <div class="event_name">Street Performance: Call for Artist</div>
                                    <div class="event_location">
                                        <i class="fas fa-map-marker-alt"></i>
                                        <p>Illinois, US</p>
                                    </div>
                                </div>   
                                <img src="img/artist-event-01-250x300.jpg" alt="">
                            </div>                            
                        </div> 
                    </div>
                </div>
            </section>
            <section id="newsletter">
                <div id="newsl_bg">
                    <img class="newsl_bg_top_left" src="img/artist-shape-color-paint-top-left.png" alt="">
                    <img class="newsl_bg_bott_right" src="img/artist-shape-color-paint-bottom-right.png" alt="">
                </div>
                <div id="newsl_content_cont">
                    <h2>Newsletter to get in touch</h2>
                    <div id="insert_mail_box">
                        <p id="youremail">Your e-mail</p>
                        <i class="fas fa-arrow-right"></i>
                    </div>
                </div>
            </section>
        </main>
        <footer>
            <div class="footer_wrapper">
                <div id="ft_links">
                    <div id="ft_address">
                        <h3 class="ft_links_header"><a :href="address.url">{{address.header}}</a></h3>
                        <ul>
                            <li class="ft_link">{{address.street}} # {{address.streetNum}} {{address.city}}, {{address.state}} {{address.zip1}}-{{address.zip2}}</li>
                            <li class="ft_link">+ {{address.intPref}} {{address.phoneNum}} ({{address.opTime}} - {{address.clTime}} {{address.timeZone}}, {{address.opDay}} - {{address.clDay}})</li>
                            <li class="ft_link">{{address.email}}</li>
                            <ul class="social_icons">
                                <li v-for="social in socialIcons"><a :href="social.url"><i :class="social.family + ' ' + social.prefix + social.name + social.suffix"></i></a></li>
                            </ul>
                        </ul>
                    </div>
                    <div id="ft_explore">
                        <h3 class="ft_links_header"><a :href="explore.url">{{explore.header}}</a></h3>
                        <ul>
                            <li v-for="link in explore.links" class="ft_link"><a :href="link.url">{{link.header}}</a></li>
                        </ul>
                    </div>
                    <div id="ft_info">
                        <h3 class="ft_links_header"><a :href="information.url">{{information.header}}</a></h3>
                        <ul>
                            <li v-for="link in information.links" class="ft_link"><a :href="link.url">{{link.header}}</a></li>
                        </ul>
                    </div>
                    <div id="ft_insta">
                        <h3 class="ft_links_header"><a :href="instaInfo.url">{{instaInfo.header}}<span id="insta_account">{{instaInfo.account}}</span></a></h3>
                        <div id="instapics_container">
                            <a v-for="thumb in instaInfo.thumbnails" class="instapic" :href="thumb.url">
                                <img :src="thumb.path + thumb.name + thumb.ext" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="ft_signature">
                <p>&#169 {{signature.year}} <a :href="signature.author.url" target="_blank">{{signature.author.name}}</a>. All Rights Reserved</p>
            </div>
        </footer>
    </div>
    <div id="sidemenu">
        <a href="#"><i class="fas fa-ruler"></i></a>
        <a href="#"><i class="far fa-life-ring"></i></a>
        <a href="#"><i class="fas fa-book"></i></a>
        <a href="#"><i class="fas fa-shopping-cart"></i></a>
    </div>
    <div id="gotop"><a href="#"><span>&#8593</span></a></div>
    <script src="js/main.js"></script>
</body>
</html>